page-home {
    #game-container{
        width: 100%;
        height: 100%;
        position: relative;
        button.menu{
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
