.fixed-content {
    z-index: 0;

    #canvas-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

        canvas {
            height: 100%;
            width: 100%;
        }
    }

    .background-img{
    position: absolute;
    height: calc(100% - 30px);
    top: 30px;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.scroll-content {
    overflow-y: auto;
    z-index: 1;
    position: relative;
    height: calc(100% - 30px);
    top: 30px;
}