.fixed-content {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;

    #canvas-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

        canvas {
            height: 100%;
            width: 100%;
        }
    }

    .background-img{
    position: absolute;
    height: calc(100% - 30px);
    top: 30px;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.scroll-content {
    overflow-y: auto;
    z-index: 1;
    position: relative;
    height: calc(100% - 30px);
    top: 30px;
    overflow: hidden;

    span.recording{
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 100%;
    }

    div.buttons{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px;
    }

    #Canvas{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #Camera{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}